@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rock+3D&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2rem;
}

button{
  width: 3rem;
  border: none;
  font-size: 2rem;
  margin: 5px;
}


button:hover{
  cursor: pointer;
  color: snow;
}

